<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479875771396-0v903v17sb1gsmok3siuvipigk3k3qqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479875771396-0v903v17sb1gsmok3siuvipigk3k3qqn</string>
	<key>API_KEY</key>
	<string>AIzaSyBa5wz41BB6ID9BiJ-E4gabg45RTSh_fuE</string>
	<key>GCM_SENDER_ID</key>
	<string>479875771396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>User.StarBucks</string>
	<key>PROJECT_ID</key>
	<string>starbucks-3abe1</string>
	<key>STORAGE_BUCKET</key>
	<string>starbucks-3abe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479875771396:ios:5fe90a785f18d4208f9951</string>
</dict>
</plist>